<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586882765354-hmp1gp95kf2f100hfs4b9n2t3j6efpho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586882765354-hmp1gp95kf2f100hfs4b9n2t3j6efpho</string>
	<key>API_KEY</key>
	<string>AIzaSyBHj6wAqPq-nesPMLAaZWsE_YSvMW7_tAw</string>
	<key>GCM_SENDER_ID</key>
	<string>586882765354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ukeep</string>
	<key>PROJECT_ID</key>
	<string>ukeep-a63d9</string>
	<key>STORAGE_BUCKET</key>
	<string>ukeep-a63d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586882765354:ios:1120cb7f864ba6742d6953</string>
</dict>
</plist>